<section [dragula]='"tags-bag"' [dragulaModel]='tags'>
  <article class="row pointer border-bottom tag" (click)="setSelectedTag(null)" [class.selected-tag]="!shared.selectedTag">
    <div  class="col-2">
      <i  class="fa fa-circle right-10"></i>
    </div>
    <div class="col-10">
      All
    </div>
  </article>

  <article
    class="row move border-bottom tag"
    *ngFor="let tag of tags"
    (click)="setSelectedTag(tag)"
    [class.selected-tag]="shared.selectedTag ? tag.id == shared.selectedTag.id : false">
    <div  class="col-2 pointer">
      <i [style.color]="tag.color.rgb"  class="fa fa-circle right-10"></i>
    </div>
    <div class="col-8">
      <textarea  autosize rows="1" class="kan-textarea" name="tag" placeholder="New tag" [(ngModel)]="tag.name" (ngModelChange)="sync()">{{tag.name}}</textarea>
    </div>
    <div class="col-2 pointer no-padding text-center" (click)="$event.stopPropagation();deleteTasksWithTag(tag)">
      <i class="icon ion-trash-a text-danger" placement="bottom" data-container="body" ngbTooltip="Delete Tag and Tasks"></i>
    </div>
  </article>
</section>

<section>
  <article class="row pointer">
    <div class="col-12 border-bottom text-center" (click)="addTag()">
      <span class="add-tag" placement="bottom" data-container="body" ngbTooltip="(Ctrl + B)"><b><i  class="fa fa-plus right-10"></i> Add tag</b></span>
    </div>
  </article>
</section>
