<header class="container-fluid">
  <div class="container">
    <section class="row top-bar">
      <div class="col-6">
        <a href="/home"><img src="../../assets/logo.png" height="30" alt=""></a>
      </div>
      <div class="col-6 text-right">
        <a href="https://paypal.me/jmartinez1/5" target="_blank"><b><i class="fa fa-coffee right-10"></i>BUY ME A COFFEE?</b></a>
      </div>
    </section>
    <section class="row">
      <div class="col-12 col-md-5 text-center text-md-left">
        <h2>GET THINGS DONE.</h2>
        <p class="lead">Kanbify is a task manager tool to organize your work and be super-productive. It has been inspired by Kanban Methodology of Toyota.</p>
        <a routerLink="/kanban-board"><button class="btn btn-default btn-kan btn-lg"><b>START NOW <i class="fa fa-arrow-right left-10"></i></b></button></a>
        <p class="credit">No registration. Free. Forever.</p>
      </div>
      <div class="col-12 col-md-7">
        <img  src="../../assets/board.gif" class="img-fluid styled-img" alt="Kanban Board">
      </div>
    </section>
  </div>
</header>

<main>
  <section>
    <div class="container">
      <div class="row text-center">
        <div class="col-12">
          <h3>STOP STARTING. START FINISHING.</h3>
          <p class="lead">Add tasks to the board and move them between states.</p>
          <a routerLink="/kanban-board"><button type="button" class="btn btn-default btn-kan btn-kan-purple btn-lg">START NOW <i class="fa fa-arrow-right left-10"></i></button></a>
          <img style="margin-top:40px;" src="../../assets/demo.png" class="img-fluid" alt="">
        </div>
      </div>
    </div>
  </section>

  <section class="bg-grey">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 order-md-last text-center text-md-left">
          <h3>Powerful and easy to use.</h3>
          <p class="lead feature-description">Kanbify was designed with usability in mind to be super-fast and easy to use. Focus in your work, not in undestand your task manager.</p>
        </div>
        <div class="col-12 col-md-6 order-md-first text-center text-md-right">
          <img  src="../../assets/1.png"  style="max-height:300px;" class="img-fluid styled-img" alt="">
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 text-center text-md-left">
          <h3>Tags system.</h3>
          <p class="lead feature-description">Use tags to organize and filter all your tasks. You can drag and drop tags to reorganize them.</p>
        </div>
        <div class="col-12 col-md-6 text-center text-md-left">
          <img  src="../../assets/2.png"  style="max-height:300px;" class="img-fluid styled-img" alt="">
        </div>
      </div>
    </div>
  </section>

  <section class="bg-grey">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 order-md-last text-center text-md-left">
          <h3>Filter and search.</h3>
          <p class="lead feature-description">Keep track of what you did applying date filters or searching tasks. Perfect for remember what you did last week.</p>
        </div>
        <div class="col-12 col-md-6 order-md-first text-center text-md-right">
          <img  src="../../assets/3.png"  style="max-height:300px;" class="img-fluid styled-img" alt="">
        </div>

      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 text-center text-md-left">
          <h3>Privacy matters.</h3>
          <p class="lead feature-description">No registration. No Login. No server-side. All data is stored in your browser and will be there until you clean your browser data, so we dont know anything about your data.</p>
        </div>
        <div class="col-12 col-md-6 text-left text-center text-md-left">
          <img  src="../../assets/5.png"  style="max-height:300px;" class="img-fluid styled-img" alt="">
        </div>
      </div>
    </div>
  </section>

  <section class="bg-grey">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 order-md-last text-center text-md-left">
          <h3>Backup your data.</h3>
          <p class="lead feature-description">You can import/export backups of your data if you need to move from your daily work device.</p>
        </div>
        <div class="col-12 col-md-6 order-md-first text-center text-md-right">
          <img  src="../../assets/4.png"  style="max-height:300px;" class="img-fluid styled-img" alt="">
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h1>Ready?</h1>
          <p class="lead">No Registration. No Login. Free. Forever.</p>
          <a routerLink="/kanban-board"><button type="button" class="btn btn-default btn-kan btn-kan-purple btn-lg">START NOW <i class="fa fa-arrow-right left-10"></i></button></a>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-grey">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h3>Awesome backers <span class="badge badge-danger">Ads</span></h3>
          <p class="lead">Kanbify is totally free for everyone.<br>This is possible thanks to these awesome businesses that support me to continue developing & maintaining this site.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-4 card-div">
          <div class="card h-100 justify-content-center">
            <img class="card-img-top" src="../../assets/huberton_ads_300x200.jpg" alt="Huberton Wallets">
            <div class="card-body">
              <h5 class="card-title">Huberton</h5>
              <p class="card-text">Genuine Leather Slim Wallets from $27. Now with free international shipping.</p>
              <a href="http://www.huberton.com" target="_blank" class="card-link a-blue">www.huberton.com</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 card-div">
          <div class="card h-100 justify-content-center">
            <h5 class="card-title text-center">Your ad here for<br> <span class="text-success">$9.90/month</span></h5>
          </div>
        </div>
        <div class="col-12 col-md-4 card-div">
          <div class="card h-100 justify-content-center">
              <h5 class="card-title text-center">Your ad here for<br> <span class="text-success">$9.90/month</span></h5>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<footer class="container-fluid">
  <div class="row text-center">
    <div class="col-12">
      Coded with <i class="fa fa-heart text-danger"></i> by <a href="http://jonathanmartinez.me" target="_blank"> Jonathan Martínez </a>
    </div>
  </div>
</footer>
